page-login {

  .form-login, .resultados-anteriores {
    width: 100%;
    margin: 10px auto;
    padding: 20px 15px 15px;
    max-width: 320px;
  }

  $height-inputs-login: 40px;

  .form-login {
    text-align: center;

    ion-list.list.inputs-login {
      ion-item.item {
        background: transparent;
        padding: 0;
        min-height: $height-inputs-login;
        margin-bottom: 24px;
        ion-label.label {
          margin: 0;
          color: get-color(blanco);
          height: $height-inputs-login;
          line-height: $height-inputs-login;
          padding: 0;
          margin: 0;
          position: relative;
          overflow: visible;
          .icon { // Sólo se aplica a path del svg con fill="currentColor"
            color: get-color(gris-medio);
            font-size: $height-inputs-login;
          }
        }
        ion-input.input .text-input {
          @extend %t5alt;
          color: get-color(texto);
          margin: 8px 10px 9px;
        }
        &:first-child {
          border-top: none;
        }
        &:last-child {
          border-bottom: none;
        }
        .item-inner {
          border-bottom: 2px solid get-color(gris-medio);
          .input-wrapper {
            margin-bottom: -2px;
          }
        }
        &.input-has-focus, &.item-input-has-focus {
          box-shadow: none;
          ion-label.label .icon {
            color: get-color(azul);
          }
          .item-inner {
            box-shadow: none;
            border-bottom-color: get-color(azul);
          }
        }
        &.input-has-value, &.item-input-has-value {
          &:not(.input-has-focus), &:not(.item-input-has-focus) {
            .item-inner {
              box-shadow: none;
              border-bottom-color: get-color(gris-medio);
            }
          }
        }
      }

    }
    .boton-login {
      margin: 5px auto 0;
      height: 40px;
    }
    .boton-datos-login {
      text-transform: none;
      margin: 20px auto 0;
      height: 30px;
      .icon {
        font-size: 16px;
        margin-left: 8px;
      }
    }
  }

  .wrapper-boton-info {
    text-align: center;
    margin-top: 20px;
    .boton-info {
      height: 30px;
    }
  }

  .resultados-anteriores {
    margin-top: 5px;
    padding-bottom: 10px;
    .title {
      margin-bottom: 8px;
      display: flex;
      align-items: center;
      .icon {
        margin-right: 10px;
      }
    }
    p {
      margin-bottom: 10px;
    }
    .wrapper-boton {
      width: 100%;
      text-align: center;
    }
    a.button {
      height: 30px;
    }
  }
}
