<ion-header no-border>
  <ion-navbar>
    <button ion-button menuToggle color="primary" class="menu-hamburguesa">
      <iaca-icon name="menu" color="color-primary"></iaca-icon>
      <span class="label">Menú</span>
    </button>
    <div class="logo-container">
      <img class="logo" src="assets/img/logo-color.svg">
    </div>
  </ion-navbar>
  <ion-toolbar class="subheader">
    <h1 class="t1">Acceso para pacientes</h1>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <div class="form-login background-gris-claro">
    <ion-list class="inputs-login">
      <ion-item class="username">
        <ion-label><iaca-icon name="user-input"></iaca-icon></ion-label>
        <ion-input type="text" placeholder="Usuario" [(ngModel)]="username"
                   #userInput (keyup.enter)="userInput.focusNext()"></ion-input>
      </ion-item>
      <ion-item class="password">
        <ion-label><iaca-icon name="password-input"></iaca-icon></ion-label>
        <ion-input type="password" placeholder="Contraseña" [(ngModel)]="password"
                    (keyup.enter)="login()"></ion-input>
      </ion-item>
    </ion-list>

    <button ion-button class="boton-login" color="azul" (click)="login()">
      <span class="t5">Iniciar sesión</span>
    </button>

    <button ion-button clear color="azul" text-center class="boton-datos-login"
            (click)="showAclaracionDatosLogin()">
      <span class="t7alt2">¿Cómo obtengo mis datos de acceso?</span>
      <iaca-icon name="informacion"></iaca-icon>
    </button>
  </div>

  <div class="wrapper-boton-info">
    <button ion-button class="boton-info" color="azul-claro" (click)="infoPacientes()">
      <span class="t7alt">Información para pacientes</span>
    </button>
  </div>

  <div class="resultados-anteriores">
    <div class="title t3 color-azul">
      <iaca-icon name="importante"></iaca-icon>
      <span>Resultados anteriores al 26/06/2017</span>
    </div>
    <p class="t6">
      Si desea consultar los resultados de
      <strong>análisis realizados con anterioridad a la fecha 26/06/2017</strong>,
      puede acceder desde aquí:
    </p>
    <div class="wrapper-boton">
      <a ion-button clear color="azul-claro" text-center
              href="https://www.iaca.com.ar/old_acceso_paciente.html" target="_blank">
        <span class="t7alt" text-uppercase>Ver resultados anteriores</span>
      </a>
    </div>
  </div>

</ion-content>
