<ion-header no-border>
  <ion-navbar>
    <button ion-button menuToggle color="primary" class="menu-hamburguesa">
      <iaca-icon name="menu" color="color-primary"></iaca-icon>
      <span class="label">Menú</span>
    </button>
    <div class="logo-container">
      <img class="logo" src="assets/img/logo-color.svg">
    </div>
  </ion-navbar>
  <ion-toolbar class="subheader">
    <h1 class="t1">Información</h1>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row margin-bottom>
      <ion-col>
        <button ion-button clear large color="primary" class="link-informacion"
                (click)="openLink('https://www.iaca.com.ar/indicaciones.html')">
          <iaca-icon name="indicaciones"></iaca-icon>
          <span class="t2">Indicaciones<br>para Análisis</span>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button clear large color="azul" class="link-informacion"
                (click)="openLink('https://www.iaca.com.ar/pacientes.html#preguntas_frecuentes')">
          <iaca-icon name="faq"></iaca-icon>
          <span class="t2">Preguntas<br>Frecuentes</span>
        </button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <button ion-button clear large color="azul-claro" class="link-informacion"
                (click)="openLink('https://www.iaca.com.ar/profesionales.html')">
          <iaca-icon name="profesionales"></iaca-icon>
          <span class="t2">Nuestros<br>Profesionales</span>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button clear large color="celeste" class="link-informacion"
                (click)="openLink('https://www.iaca.com.ar/news.html')">
          <iaca-icon name="news"></iaca-icon>
          <span class="t2">IACA<br>News</span>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="certificaciones">
    <h2 class="t2 color-texto">Nuestras certificaciones</h2>
    <ion-grid class="background-gris-claro">
      <ion-row>
        <ion-col>
          <img src="assets/img/certificaciones/logo-1.png">
        </ion-col>
        <ion-col>
          <img src="assets/img/certificaciones/logo-2.png">
        </ion-col>
        <ion-col>
          <img src="assets/img/certificaciones/logo-3.png">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <img src="assets/img/certificaciones/logo-4.png">
        </ion-col>
        <ion-col>
          <img src="assets/img/certificaciones/logo-5.png">
        </ion-col>
        <ion-col>
          <img src="assets/img/certificaciones/logo-6.png">
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>


</ion-content>