page-informacion {
  ion-grid.grid {
    padding: 0;
    max-width: $content-max-width;
  }
  ion-row.row[margin-bottom] {
    margin-bottom: 10px;
  }
  ion-col.col {
    text-align: center;
  }
  button.button.link-informacion {
    height: 180px;
    width: 140px;
    padding: 0;
    border-bottom: 3px solid currentColor;
    margin: 0;
    border-radius: 0;
    iaca-icon {
      font-size: 100px;
    }
    .button-inner {
      flex-direction: column;
      span {
        padding: 12px 0;
        text-transform: none;
        font-size: 22px;
      }
    }
    // Ajuste pantallas muy chicas
    @media screen and (max-width: 350px) {
      height: 150px;
      width: 120px;
      iaca-icon {
        font-size: 90px;
      }
      .button-inner {
        span {
          padding: 10px 0;
          font-size: 18px;
        }
      }
    }
  }
  .certificaciones {
    margin: 20px auto 0;
    max-width: $content-max-width;
    h2.t2 {
      margin: 0;
      font-size: 20px;
      font-weight: 500;
    }
    .grid {
      margin: 10px 0;
      padding: 8px;
    }
    .col {
      display: flex;
      justify-content: center;
      align-items: center;
    }

  }
}
