iaca-icon {
  display: inline-block;
  svg {
    display: block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
  }

  .icon-descargar-resultado {
    width: 1.3330078125em;
    font-size: 42px;
  }

  .icon-menu {
    width: 1.142578125em;
  }

  .icon-password-input {
    width: 1.3330078125em;
    font-size: 42px;
  }

  .icon-resultado-en-proceso {
    width: 1.3330078125em;
    font-size: 42px;
  }

  .icon-sedes-bullet {
    width: 1.5em;
  }

  .icon-ubicacion {
    width: 0.75em;
  }

  .icon-user-input {
    width: 1.3330078125em;
    font-size: 42px;
  }

}