<ion-header no-border>
  <ion-navbar>
    <button ion-button menuToggle color="primary" class="menu-hamburguesa">
      <iaca-icon name="menu" color="color-primary"></iaca-icon>
      <span class="label">Menú</span>
    </button>
    <div class="logo-container">
      <img class="logo" src="assets/img/logo-color.svg">
    </div>
  </ion-navbar>
  <ion-toolbar class="subheader">
    <h1 class="t1">Contacto</h1>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div padding>
    <p class="t6 color-texto">
      Si desea solicitar turno para su análisis o realizar cualquier tipo de consulta, ahora puede hacerlo a través de
      <strong>WhatsApp</strong>, al número <strong>291-4320418</strong>, de Lunes a Viernes de 7hs. a 19hs.
    </p>
    <button ion-button block color="azul-claro" class="boton-whatsapp color-light"
            (click)="connectivity.openWhatsApp()">
      <iaca-icon name="whatsapp"></iaca-icon>
      <span class="boton-label t5">Contacto vía WhatsApp</span>
    </button>
    <p class="t6 color-texto">
      También puede contactarnos a través de nuestras otras vías de comunicación:
    </p>
    <div class="links-contacto">
      <div class="dato">
        <iaca-icon name="email" class="color-gris-medio"></iaca-icon>
        <a href="mailto:laboratorios@iaca.com.ar">
          <span class="color-azul t6alt">laboratorios@iaca.com.ar</span>
        </a>
      </div>
      <div class="dato">
        <iaca-icon name="telefono" class="color-gris-medio"></iaca-icon>
        <a href="tel:+542914599999">
          <span class="color-azul t6alt">(0291) 459-9999</span>
        </a>
      </div>
    </div>
    <div class="redes">
      <span class="t3alt color-gris-medio">Nuestras redes:</span>
      <button ion-button clear class="social-button" (click)="connectivity.openFacebook()">
        <iaca-icon class="social-icon color-azul" name="facebook"></iaca-icon>
      </button>
      <button ion-button clear class="social-button" (click)="connectivity.openInstagram()">
        <iaca-icon class="social-icon color-azul" name="instagram"></iaca-icon>
      </button>
    </div>

    <h2 class="t3 color-texto">Contáctese con nuestras sedes</h2>
    <div class="sede-contacto" *ngFor="let sede of sedes_list">
      <div class="nombre-sede color-{{ sede.color }}">
        <iaca-icon name="sedes-bullet"></iaca-icon>
        <span class="t2">{{ sede.nombre_lista }}</span>
      </div>
      <sede-contacto [sede]="sede"></sede-contacto>
    </div>
  </div>
</ion-content>