page-contacto {
  p {
    margin: 8px 0;
  }
  button.boton-whatsapp {
    margin: 15px auto 20px;
    height: 40px;
    max-width: 320px;
    span.boton-label {
      text-transform: none;
    }
    iaca-icon {
      font-size: 20px;
      margin-right: 12px;
    }
  }
  .links-contacto {
    .dato {
      display: flex;
      align-items: center;
      iaca-icon {
        font-size: 16px;
        margin-right: 8px;
      }
      a {
        display: inline-block;
        text-decoration: none;
        line-height: 28px;
        margin-right: 15px;
      }
    }
  }
  .redes {
    margin: 5px 0 15px;
    display: flex;
    align-items: center;
    line-height: 36px;
    font-size: 16px;
    .social-button {
      padding: 5px;
      height: 36px;
      margin: 0;
      margin-left: 12px;
      .social-icon {
        font-size: 24px;
      }
    }
  }
  h2.t2 {
    margin: 10px 0;
    font-size: 20px;
    font-weight: 500;
    @media (max-width: 350px) {
      font-size: 18px;
    }
  }
  .sede-contacto {
    margin: 20px 0;
    .nombre-sede {
      margin-bottom: 8px;
      display: flex;
      line-height: 16px;
      iaca-icon  {
        margin-right: 8px;
        font-size: 16px;
      }
      span {
        display: inline-block;
      }
    }
  }
}
