page-sedes {
  ion-header.header {
    ion-toolbar.subheader.toolbar {
      min-height: 50px;
    }
  }
  .list {
    max-width: 450px;
    margin: 10px auto;
  }
  .item.sede {
    padding-left: 0;
    padding-right: 0;
    margin: 0 0 25px;
    @media (max-width: 340px) {
      margin-bottom: 20px;
    }
    .item-inner {
      padding: 0;
    }
    h2.sede-nombre {
      margin: 0;
      font-size: 20px;
      font-weight: 600;
      white-space: normal;
      @media (max-width: 340px) {
        font-size: 18px;
      }
    }
    ion-thumbnail {
      margin: 0;
      margin-right: 15px;
      width: 33%;
      max-width: 180px;
      img {
        width: 100%;
        height: auto;
      }
    }
    &.impar {
      h2.sede-nombre {
        text-align: right;
      }
      ion-thumbnail {
        margin-right: 0;
        margin-left: 15px;
      }
    }
  }
}
