<ion-header no-border>
  <ion-navbar>
    <button ion-button menuToggle color="primary" class="menu-hamburguesa">
      <iaca-icon name="menu" color="color-primary"></iaca-icon>
      <span class="label">Menú</span>
    </button>
    <div class="logo-container">
      <img class="logo" src="assets/img/logo-color.svg">
    </div>
  </ion-navbar>
  <ion-toolbar class="subheader">
    <h1 class="t1">Sedes</h1>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list no-lines>
    <button *ngFor="let sede of sedes_list; let i = index; let impar = odd" (click)="showSede(i)"
            ion-item [ngClass]="{ 'impar': impar, 'sede': true }" [color]="sede.color_fondo">
      <ion-thumbnail item-start *ngIf="!impar">
        <img [src]="sede.thumbnail">
      </ion-thumbnail>
      <h2 class="sede-nombre t3 color-{{ sede.color }}">{{ sede.nombre_lista }}</h2>
      <ion-thumbnail item-end *ngIf="impar">
        <img [src]="sede.thumbnail">
      </ion-thumbnail>
    </button>
  </ion-list>
</ion-content>
