/* source-sans-pro-regular - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: url('#{$font-path}/source-sans-pro-v11-latin-regular.woff2') format('woff2'),
       url('#{$font-path}/source-sans-pro-v11-latin-regular.woff') format('woff');
}
/* source-sans-pro-600 - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: url('#{$font-path}/source-sans-pro-v11-latin-600.woff2') format('woff2'),
       url('#{$font-path}/source-sans-pro-v11-latin-600.woff') format('woff');
}
/* source-sans-pro-700 - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: url('#{$font-path}/source-sans-pro-v11-latin-700.woff2') format('woff2'),
       url('#{$font-path}/source-sans-pro-v11-latin-700.woff') format('woff');
}
/* source-sans-pro-700italic - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 700;
  src: url('#{$font-path}/source-sans-pro-v11-latin-700italic.woff2') format('woff2'),
       url('#{$font-path}/source-sans-pro-v11-latin-700italic.woff') format('woff');
}