// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Fonts
// --------------------------------------------------
// Font path is used to include ionicons, source sans pro
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;

@import "ionic.globals";


// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:        #004A7F,
  secondary:      #0085CB,
  danger:         #D9534F,
  light:          #E7E7E7,
  dark:           #54676d,
  // Colores logo
  azul:           #0069BD,
  azul-claro:     #0085CB,
  celeste:        #5EC5EC,
  gris-oscuro:    #112535,
  gris-medio:     #868789,
  gris-claro:     #F1F3F5,
  blanco:         #FFFFFF,
  texto:          #112535,
  header:         #F1F3F5,
  sidenav:        #24508F,
  fondo-sede1:    #E0EEFD,
  fondo-sede2:    #E6F2FC,
  fondo-sede3:    #EAF5FB,
  fondo-sede4:    #F0F9FA
);

@function get-color($color-name) {
  @return color($colors,$color-name);
}

// Variables tipografía
// --------------------------------------------------
$font-source-sans: "Source Sans Pro";

// Tipografías diseño
%t1 {
  font-family: $font-source-sans;
  font-weight: 700;
  font-size: 22px;
  @media (max-width: 340px) {
    font-size: 20px;
  }
  text-transform: uppercase;
}
%t1alt {
  font-family: $font-source-sans;
  font-weight: 600;
  font-size: 22px;
  @media (max-width: 340px) {
    font-size: 20px;
  }
  text-transform: uppercase;
}
%t2 {
  font-family: $font-source-sans;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
}
%t2alt {
  font-family: $font-source-sans;
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
}
%t3 {
  font-family: $font-source-sans;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
}
%t3alt {
  font-family: $font-source-sans;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
}
%t4 {
  font-family: $font-source-sans;
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
}
%t5 {
  font-family: $font-source-sans;
  font-weight: 600;
  font-size: 16px;
}
%t5alt {
  font-family: $font-source-sans;
  font-weight: 400;
  font-size: 16px;
}
%t6 {
  font-family: $font-source-sans;
  font-weight: 400;
  font-size: 15px;
}
%t6alt {
  font-family: $font-source-sans;
  font-weight: 700;
  font-size: 15px;
}
%t6alt2 {
  font-family: $font-source-sans;
  font-weight: 700;
  font-style: italic;
  font-size: 15px;
}
%t7 {
  font-family: $font-source-sans;
  font-weight: 400;
  font-size: 13px;
}
%t7alt {
  font-family: $font-source-sans;
  font-weight: 700;
  font-size: 13px;
}
%t7alt2 {
  font-family: $font-source-sans;
  font-weight: 700;
  font-style: italic;
  font-size: 13px;
}
%t8 {
  font-family: $font-source-sans;
  font-weight: 600;
  font-size: 11px;
}

// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/

$content-max-width: 600px;

$font-family-base: "#{$font-source-sans}", -apple-system, sans-serif;
$font-family-ios-base: $font-family-base;
$font-family-md-base: $font-family-base;
$font-family-wp-base: $font-family-base;

$toolbar-background: get-color(header);
$header-navbar-height: 70px;
$toolbar-ios-height: $header-navbar-height;
$toolbar-md-height: $header-navbar-height;
$navbar-ios-height: $header-navbar-height + 20px;
$navbar-md-height: $header-navbar-height;

$menu-md-background: get-color(sidenav);
$menu-ios-background: get-color(sidenav);

// Inputs (login)
$text-input-placeholder-color: get-color(gris-medio);
$label-ios-text-color: get-color(texto);
$label-ios-text-color-focused: get-color(azul);
$label-md-text-color: get-color(texto);
$label-md-text-color-focused: get-color(azul);
$label-wp-text-color: get-color(texto);
$label-wp-text-color-focused: get-color(azul);
$text-input-ios-background-color: transparent;
$text-input-md-background-color: transparent;
$text-input-wp-background-color: transparent;
$text-input-highlight-color-valid: get-color(primary);
$text-input-ios-show-focus-highlight: true;

// Toast
$toast-ios-title-font-size: 14px;
$toast-md-title-font-size: 14px;

// Refresher
$refresher-icon-color: get-color(azul-claro);
$refresher-text-color: get-color(azul-claro);

// Popover - sólo usado para logout user
$popover-paciente-width: 125px;
$popover-paciente-background: get-color(gris-claro);
$popover-paciente-text-color: get-color(texto);
$popover-ios-width: $popover-paciente-width;
$popover-md-width: $popover-paciente-width;
$popover-wp-width: $popover-paciente-width;
$popover-ios-background: get-color(blanco);
$popover-ios-arrow-background: get-color(blanco);
$popover-md-background: $popover-paciente-background;
$popover-wp-background: $popover-paciente-background;
$popover-ios-text-color: $popover-paciente-text-color;
$popover-md-text-color: $popover-paciente-text-color;
$popover-wp-text-color: $popover-paciente-text-color;

// Alert
$alert-ios-message-text-align: left;
$alert-ios-message-text-color: get-color(texto);
$alert-md-message-text-color: get-color(texto);

// List - items
$item-ios-detail-push-show: false;


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Mixin para setear input placeholder
@mixin input-placeholder {
  &::-webkit-input-placeholder {@content;}
  &:-moz-placeholder           {@content;}
  &::-moz-placeholder          {@content;}
  &:-ms-input-placeholder      {@content;}
}