// http://ionicframework.com/docs/theming/

// Incluyo font-faces
@import "../theme/fonts";

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

html {
  color: get-color(texto);
  font-size: 14px;
}

// Clases tipografía diseño
$clases_tipografia: t1, t1alt, t2, t2alt, t3, t3alt, t4, t5, t5alt, t6, t6alt, t6alt2, t7, t7alt, t7alt2, t8;
@each $clase in $clases_tipografia {
  .#{$clase} {
    @extend %#{$clase};
  }
}
// Clases colores
$clases_colores: primary, azul, azul-claro, celeste, gris-oscuro, gris-medio, gris-claro, blanco, texto;
@each $clase in $clases_colores {
  .color-#{$clase} {
    color: get-color($clase);
  }
}
$clases_colores_fondo: gris-claro, fondo-sede1, fondo-sede2, fondo-sede3, fondo-sede4;
@each $clase in $clases_colores_fondo {
  .background-#{$clase} {
    background-color: get-color($clase);
  }
}
h1 {
  color: get-color(primary);
}

// Fix cuadradito gris en content - https://github.com/ionic-team/ionic/issues/6416
.scroll-content{
  overflow-y:auto !important;
}

/** Header **/
ion-header.header {
  ion-navbar.toolbar {
    align-items: flex-start;
    padding: 15px 10px 5px;
    &.toolbar-ios {
      padding-top: 30px !important;
      button {
        margin-top: 5px;
      }
    }
  }
  button.menu-hamburguesa, button.menu-paciente {
    height: 50px;
    z-index: 100;
    @media screen and (max-width: 350px) {
      height: 45px;
    }
    .button-inner {
      flex-direction: column;
      .label {
        @extend %t8;
        text-transform: uppercase;
        margin-top: 5px;
      }
    }
  }
  button.back-button {
    color: get-color(primary);
    height: 40px;
    z-index: 100;
  }
  .logo-container {
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 50px 10px;
    height: 70px;
    img.logo {
      height: 100%;
    }
  }
  ion-navbar.toolbar-ios {
    min-height: $navbar-ios-height !important;
    .logo-container {
      padding-top: 30px;
      padding-bottom: 0;
      height: 80px;
    }
  }
  ion-toolbar.subheader.toolbar {
    padding: 5px 20px;
    h1 {
      margin: 0 0 5px;
    }
    min-height: 0;
    border-bottom: 4px solid get-color(azul-claro);
  }
}

/** Content **/
ion-content.content {
  background-color: get-color(blanco);
}
div.page-loading {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  ion-spinner * {
    width: 40px;
    height: 40px;
  }
}

/** Sidenav **/
$sidemenu-item-height: 36px;
$sidemenu-subitem-height: 30px;
ion-menu.sidenav {
  ion-header.header .toolbar-background,
  ion-content.content {
    background-color: get-color(sidenav);
  }
  ion-footer.footer {
    background-color: get-color(azul-claro);
  }

  ion-header.header .toolbar {
    min-height: 70px;
    padding-left: 20px;
    padding-top: 12px;
    @media screen and (max-width: 350px) {
      padding-left: 12px;
    }
    img.logo {
      width: 125px;
      margin-top: 4px;
    }
    &.toolbar-ios:first-child {
      min-height: 70px;
      padding-top: 30px;
      button {
        margin-top: 5px;
      }
    }
  }

  ion-content.content {
    ion-list.menu-pages {
      margin-top: 5px;
      @media screen and (max-width: 350px) {
        margin-bottom: 5px;
      }
      button.item {
        padding-left: 20px;
        margin-top: 5px;
        min-height: 0;
        height: $sidemenu-item-height;
        background: transparent;
        .item-inner {
          margin: 0;
          .label {
            margin: 0;
            line-height: $sidemenu-item-height;
            @extend %t6alt;
            color: get-color(blanco)
          }
        }
        @media screen and (max-width: 350px) {
          padding-left: 12px;
          height: $sidemenu-item-height - 4px;
          .item-inner {
            .label {
              line-height: $sidemenu-item-height - 4px;
            }
          }
        }
        &.activated {
          background: lighten(get-color(sidenav),2);
          &.destacado {
            background: lighten(get-color(celeste),5);
          }
        }
        &.destacado {
          background: get-color(celeste);
        }
        &.subpage {
          font-weight: normal;
          padding-left: 40px;
          margin-top: 0;
          height: $sidemenu-subitem-height;
          .item-inner {
            .label {
              line-height: $sidemenu-subitem-height;
              font-weight: normal;
            }
          }
          @media screen and (max-width: 350px) {
            padding-left: 35px;
            height: $sidemenu-subitem-height - 4px;
            .item-inner {
              .label {
                line-height: $sidemenu-subitem-height - 4px;
              }
            }
          }
        }
      }
    }

    .wrapper-boton-resultados-anteriores {
      margin-top: 20px;
      width: 100%;
      text-align: center;
      @media screen and (max-width: 350px) {
        margin-top: 10px;
      }
    }
    a.button {
      padding: 0 12px;
      height: 36px;
    }
  }

  ion-footer .social {
    padding: 15px 20px;
    @media screen and (max-width: 350px) {
      padding: 8px 12px;
    }
    .label {
      line-height: 20px;
      text-align: center;
    }
    .links {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: center;
      .social-button {
        padding: 5px;
        height: 40px;
        margin: 0 8px;
        .social-icon {
          font-size: 24px;
        }
        @media screen and (max-width: 350px) {
          height: 36px;
          .social-icon {
            font-size: 20px;
          }
        }
      }
    }

  }
}

// Dropdown paciente
popover-paciente .paciente-link {
  width: 100%;
  padding: 10px;
  display: inline-block;
}
// Fix android: muevo el menu para abajo para poder ver el boton
//  (en iOS no es necesario ya que aparece como dropdown)
ion-popover:not(.popover-ios) {
  .popover-content {
    width: 175px;
    margin-top: 50px;
  }
  &.popover-paciente-sidemenu {
    .popover-content {
      left: 130px !important;
      @media (max-width: 340px) {
        left: 90px !important;
      }
    }
  }
  &.popover-paciente-header {
    .popover-content {
      left: auto !important;
      right: 0;
    }
  }
}
ion-popover.popover-ios {
  .popover-content {
    width: 175px;
  }
}

.toast-error-descarga-pdf .toast-message {
  padding: 15px 10px;
}