<!-- Sidenav -->
<ion-menu class="sidenav" [content]="appContent">
  <ion-header no-border>
    <ion-toolbar>
      <img class="logo" src="assets/img/logo-blanco.svg">
      <ion-buttons end>
        <button ion-button color="blanco" class="menu-paciente"
                *ngIf="auth.logueado" (click)="showPopoverPaciente($event)">
          <iaca-icon name="paciente" class="color-blanco"></iaca-icon>
          <span class="label">Paciente</span>
        </button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list class="menu-pages" no-lines>
      <button ion-item menuClose (click)="openPage('resultados')">
        Consulta de resultados
      </button>
      <button ion-item menuClose (click)="openPage('informacion')">
        Información para pacientes
      </button>
      <button ion-item menuClose (click)="openPage('sedes')">
        Nuestras sedes
      </button>
      <button ion-item menuClose (click)="openPage('sede',{ index_sede: 0})" class="subpage">
        Sede San Martín
      </button>
      <button ion-item menuClose (click)="openPage('sede',{ index_sede: 1})" class="subpage">
        Sede Rodríguez
      </button>
      <button ion-item menuClose (click)="openPage('sede',{ index_sede: 2})" class="subpage">
        Sede Darwin
      </button>
      <button ion-item menuClose (click)="openPage('sede',{ index_sede: 3})" class="subpage">
        Sede Buenos Aires
      </button>
      <button ion-item menuClose (click)="openPage('contacto')">
        Contacto
      </button>
    </ion-list>

    <div class="wrapper-boton-resultados-anteriores">
      <a ion-button color="azul-claro" text-center
                href="https://www.iaca.com.ar/old_acceso_paciente.html" target="_blank">
        <span class="t7alt" text-uppercase>Ver resultados anteriores al 26/06/2017</span>
      </a>
    </div>
  </ion-content>

  <ion-footer>
    <div class="social">
      <div class="label t6 color-blanco" text-uppercase>Seguinos en las redes</div>
      <div class="links">
        <button ion-button clear class="social-button" color="azul-claro" (click)="connectivity.openFacebook()" menuClose>
          <iaca-icon class="social-icon color-blanco" name="facebook"></iaca-icon>
        </button>
        <button ion-button clear class="social-button" color="azul-claro" (click)="connectivity.openInstagram()" menuClose>
          <iaca-icon class="social-icon color-blanco" name="instagram"></iaca-icon>
        </button>
      </div>
    </div>
  </ion-footer>

</ion-menu>

<!-- Main content: pages -->
<ion-nav #appContent swipeBackEnabled="false"></ion-nav>