<div class="contacto-datos background-{{ sede.color_fondo }} t6 color-texto">
  <div class="dato direccion" *ngIf="sede.direccion">
    <iaca-icon name="ubicacion" class="color-{{ sede.color }}"></iaca-icon>
    <span>
      <strong>{{ sede.direccion }}</strong>, {{ sede.localidad }}
    </span>
  </div>
  <div class="dato telefono" *ngIf="sede.telefono">
    <iaca-icon name="telefono" class="color-{{ sede.color }}"></iaca-icon>
    <a [href]="'tel:'+sede.telefono.call">
      <strong>{{ sede.telefono.display }}</strong>
    </a>
  </div>
  <div class="dato email" *ngIf="sede.email">
    <iaca-icon name="email" class="color-{{ sede.color }}"></iaca-icon>
    <a [href]="'mailto:'+sede.email">
      <strong>{{ sede.email }}</strong>
    </a>
  </div>
  <div class="dato horario" *ngIf="sede.horarios">
    <iaca-icon name="horario" class="color-{{ sede.color }}"></iaca-icon>
    <span>
      <strong>Horario de atención:</strong>
      <span>Lunes a viernes de {{ sede.horarios.semana }}</span>
      <span *ngIf="sede.horarios.sabado">Sábado de {{ sede.horarios.sabado }}</span>
    </span>
  </div>
</div>
