sede-contacto {
  .contacto-datos {
    padding: 10px;

    .dato {
      margin-bottom: 2px;
      display: flex;
      &:not(.horario) {
        align-items: center;
        &>span, &>a {
          display: inline-block;
        }
      }
      a {
        text-decoration: none;
        color: currentColor;
      }
      iaca-icon {
        width: 16px;
        margin-right: 4px;
      }
      &>span, &>a {
        margin-left: 4px;
        line-height: 22px;
      }
      &.direccion {
        iaca-icon {
          padding-left: 2px;
        }
      }
      &.horario {
        align-items: flex-start;
        iaca-icon {
          padding-top: 2px;
        }
      }
    }
  }
}
