<ion-header no-border>
  <ion-navbar>
    <button ion-button menuToggle color="primary" class="menu-hamburguesa">
      <iaca-icon name="menu" color="color-primary"></iaca-icon>
      <span class="label">Menú</span>
    </button>
    <div class="logo-container">
      <img class="logo" src="assets/img/logo-color.svg">
    </div>
  </ion-navbar>
  <ion-toolbar class="subheader" [ngClass]="'color-'+sede.color" *ngIf="sede">
    <h1 class="t1alt">{{sede.nombre}}</h1>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div id="info-sede" *ngIf="sede" [class.show-map]="show_map">

    <ion-slides centeredSlides pager autoplay="3000">
      <ion-slide *ngFor="let img of sede.slides">
        <img [src]="img">
      </ion-slide>
    </ion-slides>

    <div class="texto-sede t6 color-texto" [innerHTML]="sede.texto"></div>

    <div class="contacto-titulo color-{{ sede.color }}">
      <iaca-icon name="sedes-bullet"></iaca-icon>
      <span class="t2">Contáctenos</span>
    </div>
    <sede-contacto [sede]="sede"></sede-contacto>
  </div>

  <div class="container-mapa" [hidden]="!show_map">
    <div class="container-spinner" [hidden]="!loading_map">
      <ion-spinner name="crescent" color="primary"></ion-spinner>
    </div>
    <div #map id="map"></div>
  </div>

</ion-content>
