page-sede {
  .scroll-content {
    margin-top: 120px !important; // Fix: a veces calcula mal
  }
  ion-header.header {
    ion-toolbar.subheader.toolbar {
      h1 {
        color: inherit;
      }
      min-height: 50px;
      border-bottom-color: currentColor;
      @media (max-width: 340px) {
        h1 {
          font-size: 24px;
        }
      }
    }
  }
  #info-sede {
    padding: 25px 15px 15px;
    max-width: $content-max-width;
    margin: 0 auto;
    &.show-map {
      padding-bottom: 0;
    }
  }
  .texto-sede {
    line-height: 1.4;
    margin: 10px 0;
    b {
      font-weight: 600;
    }
  }
  .contacto-titulo {
    margin: 25px 0 8px;
    display: flex;
    line-height: 1;
    iaca-icon  {
      margin-right: 8px;
      font-size: 16px;
    }
    span {
      font-weight: 500;
    }
  }

  .container-mapa {
    position: relative;
    width: 100%;
    height: 220px;
    margin: 20px 0;
    box-shadow: inset 0px 11px 8px -10px #CCC,
                inset 0px -11px 8px -10px #CCC;

    .container-spinner {
      position: absolute;
      z-index: 100;
      top: 50%;
      margin-top: -16px;
      width: 100%;
      text-align: center;
    }

    #map {
      width: 100%;
      height: 100%;
    }
  }

}
