<ion-header no-border>
  <ion-navbar>
    <button ion-button menuToggle color="primary" class="menu-hamburguesa">
      <iaca-icon name="menu" color="color-primary"></iaca-icon>
      <span class="label">Menú</span>
    </button>
    <div class="logo-container">
      <img class="logo" src="assets/img/logo-color.svg">
    </div>
    <ion-buttons end>
      <button ion-button color="primary" class="menu-paciente"
              *ngIf="auth.logueado" (click)="showPopoverPaciente($event)">
        <iaca-icon name="paciente" class="color-primary"></iaca-icon>
        <span class="label">Paciente</span>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar class="subheader">
    <h1 class="t1">Consulta de resultados</h1>
    <h2 class="t2 paciente" *ngIf="auth.logueado">{{ auth.user.getNombre() }}</h2>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-refresher (ionRefresh)="getResultados(true,$event)" [enabled]="!loading">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Consultar nuevos resultados...">
    </ion-refresher-content>
  </ion-refresher>

  <div class="loading-inicial" [@loadingInicial]="loading ? 'loading' : 'hidden'">
    <ion-spinner name="crescent" color="primary"></ion-spinner>
  </div>

  <!-- No se usa virtual scroll porque son de distinta altura.
      En su lugar, se muestra inicialmente los primeros 10 resultados, y con infinite-scroll se agregan más -->
  <ion-list class="lista-resultados" [class.empty]="empty">
    <!-- Item resultado -->
    <button ion-item *ngFor="let resultado of resultados_mostrados"
            (click)="downloadPDF(resultado)" [disabled]="!resultado.url_pdf">
      <div class="resultado {{ resultado.estado_class }}">
        <div class="nro-orden t3alt color-azul">
          Orden: <strong>{{ resultado.nro }}</strong>
        </div>
        <div class="nombre t4 color-texto" *ngIf="resultado.nombre">
          {{ resultado.nombre }}
        </div>
        <div class="fecha-estado t7">
          <span class="fecha" margin-right>
              Fecha: <strong>{{ resultado.fecha | formatFecha:'dd/MM/yyyy - HH:mm' }}</strong>
          </span>
          <span class="estado color-primary">
            Estado: <strong>{{ resultado.estado }}</strong>
          </span>
        </div>
        <iaca-icon class="pdf-disponible" name="descargar-resultado" *ngIf="resultado.url_pdf"></iaca-icon>
        <iaca-icon class="pdf-no-disponible" name="resultado-en-proceso" *ngIf="!resultado.url_pdf"></iaca-icon>
      </div>
    </button>

  </ion-list>

  <ion-infinite-scroll (ionInfinite)="verMasResultados($event)" [enabled]="cant_mostrados < resultados.length">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <div id="sin-resultados" *ngIf="empty" class="t3alt color-texto" padding>
    Aún no hay resultados de análisis disponibles para este paciente.
  </div>

</ion-content>
