page-resultados {
  ion-header.header {
    ion-toolbar.subheader.toolbar {
      h2.paciente {
        margin: 0;
        margin-bottom: 5px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }

  .loading-inicial {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #DEDEDE;
  }

  ion-list.lista-resultados {
    margin: 0 auto 15px;
    max-width: $content-max-width;
    &.empty {
      margin-bottom: 0;
    }
    button.item {
      padding: 0;
      &[disabled] {
        opacity: 1;
      }
      .item-inner {
        padding: 0;
      }
      .label {
        margin: 0;
      }
      .resultado {
        position: relative;
        width: 100%;
        min-height: 100px;
        padding: 15px 80px 10px 15px;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
        .nro-orden {
          line-height: 24px;
        }
        .nombre {
          margin: 2px 0;
          line-height: 16px;
          white-space: normal;
        }
        .fecha-estado {
          margin-top: 5px;
          line-height: 18px;
          white-space: nowrap;
        }

        .pdf-disponible, .pdf-no-disponible {
          position: absolute;
          right: 10px;
          top: 10px;
          height: auto;
          width: auto;
          border: none;
          padding: 10px;
          margin: 0;
        }

        &.en-proceso { // Modificaciones color si estado es En proceso
          opacity: 0.8;
          .nro-orden, .fecha, .nombre {
            color: get-color(gris-medio);
          }
        }
      }
    }
  }
}
