.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

.icon-descargar-resultado {
  width: 1.3330078125em;
}

.icon-menu {
  width: 1.142578125em;
}

.icon-password-input {
  width: 1.3330078125em;
}

.icon-resultado-en-proceso {
  width: 1.3330078125em;
}

.icon-sedes-bullet {
  width: 1.5em;
}

.icon-ubicacion {
  width: 0.75em;
}

.icon-user-input {
  width: 1.3330078125em;
}
